
#container {
    height: 560px; 
    width: 340px; 
    overflow: hidden; 
    position: relative;
}


#car1 {
    /* left -> 42px; midle -> 131px ; right -> 220px */
    left: 131px;
    transition: transform 0.3s ease;
}



.sidewalk {
    display: flex;
    justify-content: center;
    position: relative;
    width: 38px;
    height: 100%;
}

.sidewalk:first-child {
left: 0;
}

.sidewalk:last-child {
right: 0;
}



.roadLines {
    display: flex;
    justify-content: center;
}

