
#container {
    height: 560px; 
    width: 340px; 
    overflow: hidden; 
    position: relative;
}

#car1 {
    /* left -> 42px; midle -> 131px ; right -> 220px */
    left: 131px;
    transition: transform 0.4s ease;
}

.sidewalk {
    display: flex;
    justify-content: center;
    position: relative;
    width: 38px;
    height: 100%;
}

.sidewalk:first-child {
left: 0;
}

.sidewalk:last-child {
right: 0;
}

.roadLines {
    display: flex;
    justify-content: center;
}

.modal {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

#fire{
    backdrop-filter: blur(5px);
}